<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="noodp,nodir,noydir">
  <meta name="keywords"
    content="Offshore outsourcing, Freelancers, India, Russia, Ukraine, php Programmers, Coders, Developers, Writers, Web Designers, Website Design, Technical Writers">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <title>Post a Job - Hoppe-Huels Group - Upwork</title>


  <link rel="stylesheet"
    href="https://assets.static-upwork.com/components/12.2.0/air2.global.responsive.12.2.0.min.css" />
  <link rel="stylesheet" href="https://assets.static-upwork.com/fonts/2.2.2/fonts.air2-icons.2.2.2.css" />
  <link rel="stylesheet" href="https://assets.static-upwork.com/fonts/2.2.2/fonts.gotham.2.2.2.css" />
  <link rel="stylesheet" property="stylesheet" href="styles.css">
  

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script
    type="text/javascript">!function (a) { var b = function (b, c, d) { function j(a) { return e.body ? a() : void setTimeout(function () { j(a) }) } function l() { f.addEventListener && f.removeEventListener("load", l), f.media = d || "all" } var g, e = a.document, f = e.createElement("link"); if (c) g = c; else { var h = (e.body || e.getElementsByTagName("head")[0]).childNodes; g = h[h.length - 1] } var i = e.styleSheets; f.rel = "stylesheet", f.href = b, f.media = "only x", j(function () { g.parentNode.insertBefore(f, c ? g : g.nextSibling) }); var k = function (a) { for (var b = f.href, c = i.length; c--;)if (i[c].href === b) return a(); setTimeout(function () { k(a) }) }; return f.addEventListener && f.addEventListener("load", l), f.onloadcssdefined = k, k(l), f }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);</script>
  <script
    type="text/javascript">!function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);</script>

  <base href="/">

  <script type="text/javascript">
    // global Applet object
    var Applet = new function () {
      var basePath = "/";
      var phpVars = {};
      var angularCache = [];
      var assetsVersion = "4bde9ff";
      var assetsBaseUri = "";
      var instanceEnv = "staging";

      var buildBundlePath = function (path) {
        var bundleRegex = /^@([^\/]*)Bundle\/(.*)$/;
        var matches = bundleRegex.exec(path);

        if (matches != null) {
          return '/bundles/' + matches[1].toLowerCase() + '/' + matches[2];
        }
        return path;
      };

      this.getBasePath = function () {
        return basePath;
      };

      this.buildInternalAssetPath = function (path) {
        // CDN assets
        if (assetsBaseUri) {
          return assetsBaseUri + '/' + assetsVersion + buildBundlePath(path);
        }

        // Local assets
        var url = basePath + buildBundlePath(path);
        if (assetsVersion) {
          if (url.indexOf('?') < 0) {
            return url + '?' + assetsVersion;
          } else {
            return url + '&' + assetsVersion;
          }
        }
        return url;
      };

      var visitorId = null;
      visitorId = "172.27.87.116.1539613597583641";

      this.getVisitorId = function () {
        return visitorId;
      };

      var visitorApiKey = null;
      visitorApiKey = "a25ec12520e1365af244ce6b8c279c75";
      this.getVisitorApiKey = function () {
        return visitorApiKey;
      };

      var User = null;
      User = new function () {
        this.getUid = function () { return "1047087119452971008"; };
        this.getRid = function () { return "19926550"; };
        this.getNid = function () { return "cl18100211331217"; };
      };

      this.getUser = function () {
        return User;
      };

      var Organization = null;
      Organization = new function () {
        this.getUid = function () { return "1047087121009057792"; };
        this.getRid = function () { return "9154252"; };
        this.isSoleProprietor = function () { return false; };
        this.isBusiness = function () { return true; };
        this.isClient = function () { return true; };
        this.isVendor = function () { return false; };
      };

      this.getOrganization = function () {
        return Organization;
      };

      this.getVar = function (key) {
        return phpVars[key];
      };

      this.getAngularCache = function () {
        return angularCache;
      };

      this.getInstanceEnv = function () {
        return instanceEnv;
      };
    };
  </script>


</head>

<body data-ng-app="uiApplet" data-ng-strict-di class=" hidden-navbar">





  <up-c-skip-link class="sr-only" href="#main" dest-selector="#main">Skip to main content</up-c-skip-link>
  <div class="off-canvas-container">
    <div class="off-canvas d-lg-none">
      <nav class="navbar" aria-label="Navigation bar" data-ng-controller="skinnyHeaderController">


        <div class="container">
          <div class="navbar-header">
            <div></div> <a class="navbar-brand" href="/home/" target="_self">Upwork</a>
            <button class="navbar-toggle" type="button" aria-controls="skinny-nav" data-ng-click="toggleOffCanvasNav()">
              <span class="sr-only">Close navigation</span>
              <span class="glyphicon glyphicon-md m-0 air-icon-close text-primary vertical-align-middle"
                aria-hidden="true"></span>
            </button>
          </div>

          <div class="navbar-collapse" id="skinny-nav">
            <div class="navbar-search">








              <form method="GET" action="/ab/profiles/search/" data-ng-attr-action="{{searchCtrl.selected.url}}"
                role="search" data-o-freelancer-search data-is-expanded="isSearchExpanded" data-keep-expanded="true">
                <div data-o-freelancer-search-option data-label="Jobs" data-url="/o/jobs/browse/"
                  data-placeholder="Find Jobs"></div>
                <div data-o-freelancer-search-option data-label="Freelancers" data-url="/ab/profiles/search/"
                  data-placeholder="Find Freelancers" data-selected="true"></div>
                <div class="input-group input-group-search-dropdown input-group-navbar">
                  <div class="input-group-btn" data-eo-dropdown data-eo-keyboard-nav>
                    <button class="btn p-0-left-right" type="submit" tabindex="0">
                      <span class="glyphicon air-icon-search m-sm-left m-0-right" aria-hidden="true"></span>
                      <span class="sr-only">Submit search</span>
                      <up-track tracking-event="click" tracking-event-alias="enter"
                        tracking-location-default="widget_global_nav" tracking-sublocation="topnavbar_hamburgermenu"
                        tracking-label="perform_search"
                        tracking-data="{{ { context: searchCtrl.selected.label, query: searchCtrl.query } | json }}"
                        tracking-gtm="0"></up-track>
                    </button>
                    <button class="btn p-xs-left-right" type="button" tabindex="0" data-eo-dropdown-toggle>
                      <span class="caret glyphicon air-icon-arrow-expand" aria-hidden="true"></span>
                      <span class="sr-only">Switch search source</span>
                      <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                        tracking-sublocation="topnavbar_hamburgermenu" tracking-label="fl_job_search_dropdown"
                        tracking-gtm="0"></up-track>
                    </button>
                    <ul id="search-dropdown" class="dropdown-menu" role="menu" data-eo-dropdown-menu>
                      <li role="none" data-ng-repeat="option in searchCtrl.options | orderBy:'-selected'"
                        data-label="{{ option.label }}" data-ng-click="searchCtrl.select(option)"
                        data-ng-class="{active: option.selected}">
                        <a href="javascript:" tabindex="-1" role="menuitem" ng-bind="option.label"></a>
                        <div class="d-none"
                          ng-init="trackingLabel = (option.label === 'Jobs' && 'job_search_from_dropdown') || (option.label === 'Freelancers' && 'fl_search_from_dropdown') || ''">
                        </div>
                        <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                          tracking-sublocation="topnavbar_hamburgermenu" tracking-label="{{ trackingLabel }}"
                          tracking-gtm="0"></up-track>
                      </li>
                    </ul>
                  </div>
                  <input type="hidden" name="nbs" value="1" />
                  <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                    tracking-sublocation="topnavbar_hamburgermenu" tracking-label="click_searchbar" tracking-gtm="0">
                    <input class="form-control" type="search" name="q" tabindex="0" placeholder="Find Freelancers"
                      data-ng-attr-placeholder="{{searchCtrl.selected.placeholder}}" data-ng-model="searchCtrl.query"
                      data-o-freelancer-search-input />
                  </up-track>
                </div>
              </form>
            </div>


            <ul class="navbar-nav navbar-sm" role="menubar">
              <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                data-eo-dropdown-toggle-hover>
                <a class="dropdown-toggle" href="/ab/jobs-home/9154252/" target="_self" role="menuitem"
                  aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Jobs<span
                    class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="none">
                    <a href="/ab/jobs-home/9154252/" target="_self" role="menuitem">My Jobs</a>
                  </li>
                  <li role="none">
                    <a href="/ab/jobs-home/9154252/all-postings" target="_self" role="menuitem">All Job Postings</a>
                  </li>
                  <li role="none">
                    <a href="/ab/c/9154252/contracts/" target="_self" role="menuitem">All Contracts</a>
                  </li>
                  <li role="none">
                    <a href="/c/9154252/jobs/new/" target="_self" role="menuitem">Post a Job</a>
                  </li>
                </ul>
              </li>
              <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                data-eo-dropdown-toggle-hover>
                <a class="dropdown-toggle" href="/ab/profiles/search/hires" target="_self" role="menuitem"
                  aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Freelancers<span
                    class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="none">
                    <a href="/ab/profiles/search/hires" target="_self" role="menuitem">My Freelancers</a>
                  </li>
                  <li role="none">
                    <a href="/ab/profiles/search/" target="_self" role="menuitem">Find Freelancers</a>
                  </li>
                  <li role="none">
                    <a href="/ab/workdiary/client/" target="_self" role="menuitem">Work Diary</a>
                  </li>
                  <li role="none">
                    <a href="/ab/byo/" target="_self" role="menuitem">Bring Your Own Freelancer</a>
                  </li>
                </ul>
              </li>
              <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                data-eo-dropdown-toggle-hover>
                <a class="dropdown-toggle" href="/ab/reports/company/dashboard/" target="_self" role="menuitem"
                  aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Reports<span
                    class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="none">
                    <a href="/ab/reports/company/dashboard/" target="_self" role="menuitem">Weekly Summary</a>
                  </li>
                  <li role="none">
                    <a href="/reports/company/budgets" target="_self" role="menuitem">Budgets</a>
                  </li>
                  <li role="none">
                    <a href="/billing-history" target="_self" role="menuitem">Transactions</a>
                  </li>
                  <li role="none">
                    <a href="/ab/reports/company/timesheet/" target="_self" role="menuitem">Timesheet</a>
                  </li>
                  <li role="none">
                    <a href="/ab/reports/company/time-by-freelancer/" target="_self" role="menuitem">Time by
                      Freelancer</a>
                  </li>
                  <li role="none">
                    <a href="/ab/reports/company/time-by-activity/" target="_self" role="menuitem">Time by Activity</a>
                  </li>
                  <li role="none">
                    <a href="/ab/workdiary/reports/" target="_self" role="menuitem">Work Diary</a>
                  </li>
                  <li role="none">
                    <a href="/ab/reports/company/export/" target="_self" role="menuitem">Custom Export</a>
                  </li>
                </ul>
              </li>
              <li class=" messages " role="none">
                <a href="/messages/" target="_self" role="menuitem">Messages <span data-o-badges="dash"
                    data-o-badges-port="1047087121009057792"></span>
                  <span data-o-badges="dash" data-o-badges-layout="ellipsis" data-o-badges-port="1047087121009057792"
                    data-o-badges-key="unimportant" data-o-badges-exclusive="true"></span>
                </a>
              </li>
            </ul>
            <ul class="navbar-nav navbar-sm navbar-right" role="menubar">
              <li class="dropdown navbar-search d-none d-lg-flex" data-eo-click-out="toggleSearch(false)"
                data-eo-click-out-disable="!isSearchExpanded">
                <a class="dropdown-toggle" href="javascript:" role="menuitem" tabindex="{{searchToggleTabindex}}"
                  aria-haspopup="true" aria-expanded="{{isSearchExpanded}}" data-ng-click="toggleSearch(true)">
                  <span class="glyphicon glyphicon-md air-icon-search m-0"></span>
                </a>








                <form method="GET" action="/ab/profiles/search/" data-ng-attr-action="{{searchCtrl.selected.url}}"
                  role="search" data-o-freelancer-search data-is-expanded="isSearchExpanded" data-keep-expanded="true"
                  data-check-intersection="true">
                  <div data-o-freelancer-search-option data-label="Jobs" data-url="/o/jobs/browse/"
                    data-placeholder="Find Jobs"></div>
                  <div data-o-freelancer-search-option data-label="Freelancers" data-url="/ab/profiles/search/"
                    data-placeholder="Find Freelancers" data-selected="true"></div>
                  <div class="input-group input-group-search-dropdown input-group-navbar">
                    <div class="input-group-btn" data-eo-dropdown data-eo-keyboard-nav>
                      <button class="btn p-0-left-right" type="submit" tabindex="0">
                        <span class="glyphicon air-icon-search m-sm-left m-0-right" aria-hidden="true"></span>
                        <span class="sr-only">Submit search</span>
                      </button>
                      <button class="btn p-xs-left-right" type="button" tabindex="0" data-eo-dropdown-toggle>
                        <span class="caret glyphicon air-icon-arrow-expand" aria-hidden="true"></span>
                        <span class="sr-only">Switch search source</span>
                      </button>
                      <ul id="search-dropdown" class="dropdown-menu" role="menu" data-eo-dropdown-menu>
                        <li role="none" data-ng-repeat="option in searchCtrl.options | orderBy:'-selected'"
                          data-label="{{ option.label }}" data-ng-click="searchCtrl.select(option)"
                          data-ng-class="{active: option.selected}">
                          <a href="javascript:" tabindex="-1" role="menuitem" ng-bind="option.label"></a>
                        </li>
                      </ul>
                    </div>
                    <input type="hidden" name="nbs" value="1" />
                    <input class="form-control" type="search" name="q" tabindex="0" placeholder="Find Freelancers"
                      data-ng-attr-placeholder="{{searchCtrl.selected.placeholder}}" data-ng-model="searchCtrl.query"
                      data-o-freelancer-search-input />
                  </div>
                </form>
              </li>
              <li class="dropdown dropdown-secondary align-end" role="none" data-eo-dropdown
                data-on-toggle="toggleHelp(open)">
                <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true" aria-expanded="false"
                  data-eo-dropdown-toggle>
                  <span class="d-lg-none">Help</span>
                  <span class="glyphicon glyphicon-md air-icon-question dropdown-icon"></span>
                  <span class="badge badge-circle" data-ng-cloak data-ng-if="helpMenuUnread !== 0"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-md" role="menu">
                  <li role="none">
                    <a href="https://odesk1265186793.zendesk.com/login" target="_blank" role="menuitem">
                      Help and Support
                    </a>
                  </li>
                  <li role="none">
                    <a href="http://community.upwork.com" target="_blank" role="menuitem">
                      Community and Forums
                    </a>
                  </li>
                  <li role="none">
                    <a href="/ab/disputes" target="_self" role="menuitem">
                      <span class="pull-left">Disputes</span>
                      <span class="pull-right" data-o-badges="disputes"></span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="dropdown dropdown-secondary align-end" role="none"
                data-ng-controller="eoNotificationController as ctrl" data-eo-dropdown
                data-on-toggle="ctrl.toggleNotifications(open)">
                <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true" aria-expanded="false"
                  data-eo-dropdown-toggle>
                  <span class="d-lg-none">Notifications</span>
                  <span class="glyphicon glyphicon-md air-icon-notification dropdown-icon" aria-hidden="true"></span>
                  <span data-o-badges="notifications" data-o-badges-layout="circle"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-md " role="menu">
                  <li role="none" data-ng-repeat="notification in ctrl.notifications | limitTo: ctrl.limit">
                    <a class="dismissable" target="_self" role="menuitem" data-ng-href="{{notification.href}}">
                      <button class="close" type="button"
                        data-ng-click="$event.stopPropagation(); ctrl.removeNotification($event, notification.notificationId)">
                        <span class="glyphicon air-icon-close" aria-hidden="true"></span>
                        <span class="sr-only">Remove</span>
                      </button>
                      {{notification.notificationText}}
                    </a>
                  </li>
                  <li role="none" data-ng-if="ctrl.isLoading()">
                    <a href="javascript:">
                      <span class="glyphicon glyphicon-md air-icon-loading m-0-left"></span><span>Loading...</span>
                    </a>
                  </li>
                  <li role="none">
                    <a target="_self" role="menuitem" data-ng-href="{{ctrl.getLinkSeeAllNotification()}}">
                      <mark><strong>See All Notifications</strong></mark>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="" role="none">
                <a href="/ab/jobs-home/invite-to-team?hmh_source=globalnav" target="_self" role="menuitem">
                  <span class="d-lg-none">Invite a Coworker</span>
                  <span class="glyphicon glyphicon-md air-icon-invite-coworker dropdown-icon" aria-hidden="true"></span>
                </a>
              </li>

              <li class="dropdown dropdown-secondary dropdown-account align-end " role="none" data-eo-dropdown>
                <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true" aria-expanded="false"
                  title="Hoppe-Huels Group" data-eo-dropdown-toggle>
                  <div class="media media-dropdown">
                    <div class="pull-left"><img class="avatar avatar-xs m-0"
                        src="https://odesk-staging1-portraits.s3.amazonaws.com/Companies:9154252:CompanyLogoURL?AWSAccessKeyId=AKIAJV45H5HBL3TYHBFQ&amp;Expires=2147483647&amp;Signature=EMGl1oI8zAwdgJIrQr%2B0foTq3Gg%3D"
                        alt="avatar"></div>
                    <div class="media-body"><span class="account-name ellipsis" data-ng-non-bindable>Hoppe-Huels
                        Group</span><span class="account-status ellipsis" data-ng-show="outOfOffice > 0"
                        data-ng-cloak>Away until {{ outOfOffice | date: 'MMM d' }}</span><span
                        class="badge badge-circle" data-ng-show="unreadIndicator" data-ng-cloak></span><span
                        class="caret glyphicon air-icon-arrow-expand media-body-right" aria-hidden="true"></span></div>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-md" role="menu">
                  <li role="none">
                    <div class="form-group">
                      <div class="btn-group btn-group-justified btn-group-sm" data-ng-click="$event.stopPropagation()">
                        <label class="btn btn-default" data-ng-model="dash.visibility"
                          data-ng-click="setVisibility('VISIBLE')" data-eo-btn-radio="'VISIBLE'">Online</label>
                        <label class="btn btn-default" title="Appear offline to other users"
                          data-ng-model="dash.visibility" data-ng-click="setVisibility('INVISIBLE')"
                          data-eo-btn-radio="'INVISIBLE'">Invisible</label>
                      </div>
                    </div>
                  </li>
                  <li role="none">
                    <ul class="list-unstyled dropdown-list" role="menu">
                      <li class="active" title="Hoppe-Huels Group" role="none" data-company-uid="1047087121009057792">
                        <a href="javascript:">
                          <div class="media media-dropdown">
                            <img lazy-img class="avatar avatar-xs pull-left"
                              lazy-src="https://odesk-staging1-portraits.s3.amazonaws.com/Companies:9154252:CompanyLogoURL?AWSAccessKeyId=AKIAJV45H5HBL3TYHBFQ&amp;Expires=2147483647&amp;Signature=EMGl1oI8zAwdgJIrQr%2B0foTq3Gg%3D">
                            <div class="media-body ellipsis">
                              <span data-ng-non-bindable>Hoppe-Huels Group</span>
                              <small class="text-muted">Client</small>
                              <span class="media-body-right" data-o-badges="dash"
                                data-o-badges-port="1047087121009057792"></span>
                              <span class="media-body-right" data-o-badges="dash"
                                data-o-badges-port="1047087121009057792" data-o-badges-key="unimportant"
                                data-o-badges-layout="ellipsis" data-o-badges-exclusive="true"></span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li role="none">
                <a href="/ab/my-info/" target="_self" role="menuitem" class="text-capitalize">
                  <span class="glyphicon air-icon-settings m-0-left m-md-right"></span> Settings</a>
              </li>

              <li role="none">
                <a href="javascript:" role="menuitem" data-ng-click="logout()" class="text-capitalize">
                  <form id="nav-logout" method="post" action="/ab/account-security/logout"></form>
                  <span class="glyphicon air-icon-remove m-0-left m-md-right"></span> Log Out
                  <span class="text-muted text-right text-lowercase flex-1">cl18100211331217</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="off-canvas-content">
      <div id="layout">

        <nav class="navbar" aria-label="Navigation bar" data-ng-controller="skinnyHeaderController"
          data-ng-class="{'search-is-open': isMobileSearchExpanded}">


          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle d-lg-none" type="button" aria-controls="skinny-nav"
                data-ng-click="toggleOffCanvasNav()" data-eo-hamburger data-is-open="isOffCanvasNavOpen"
                data-toggle-class="navbar-is-open">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-md m-0 air-icon-view-as-informative text-muted vertical-align-middle"
                  aria-hidden="true"></span>
                <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                  tracking-sublocation="topnavbar_hamburgermenu" tracking-label="click_icon" tracking-gtm="0">
                </up-track>
                <span class="badge badge-circle unread-indicator" data-ng-show="unreadIndicatorAll"
                  data-ng-cloak></span>
              </button>
              <a class="navbar-brand" href="/home/" target="_self">Upwork</a>

              <div class="d-lg-none navbar-search navbar-search-mobile" data-eo-click-out="toggleMobileSearch(false)"
                data-eo-click-out-disable="!isMobileSearchExpanded">








                <form class="d-lg-none" method="GET" action="/ab/profiles/search/"
                  data-ng-attr-action="{{searchCtrl.selected.url}}" role="search" data-o-freelancer-search
                  data-is-expanded="isMobileSearchExpanded">
                  <div data-o-freelancer-search-option data-label="Jobs" data-url="/o/jobs/browse/"
                    data-placeholder="Find Jobs"></div>
                  <div data-o-freelancer-search-option data-label="Freelancers" data-url="/ab/profiles/search/"
                    data-placeholder="Find Freelancers" data-selected="true"></div>
                  <div class="input-group input-group-search-dropdown input-group-navbar">
                    <div class="input-group-btn" data-eo-dropdown data-eo-keyboard-nav>
                      <button class="btn p-0-left-right" type="button" tabindex="0"
                        data-ng-click="isMobileSearchExpanded ? $event.stopImmediatePropagation() : toggleMobileSearch(true)">
                        <span class="glyphicon glyphicon-md air-icon-search m-0 text-muted" aria-hidden="true"
                          data-ng-click="isMobileSearchExpanded && $event.stopPropagation()"></span>
                        <span class="sr-only">Open search</span>
                        <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                          tracking-sublocation="topnavbar_searchicon" tracking-label="click_icon" tracking-gtm="0">
                        </up-track>
                      </button>
                      <button class="btn p-xs-left-right" type="button" tabindex="0" data-eo-dropdown-toggle>
                        <span class="caret glyphicon air-icon-arrow-expand" aria-hidden="true"></span>
                        <span class="sr-only">Switch search source</span>
                        <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                          tracking-sublocation="topnavbar_searchicon" tracking-label="fl_job_search_dropdown"
                          tracking-gtm="0"></up-track>
                      </button>
                      <button class="btn p-0-left-right navbar-search-close" type="button" tabindex="0"
                        data-ng-show="isMobileSearchExpanded" data-ng-click="toggleMobileSearch(false)">
                        <span class="glyphicon air-icon-close m-0 text-primary" aria-hidden="true"></span>
                        <span class="sr-only">Close search</span>
                      </button>
                      <ul id="search-dropdown" class="dropdown-menu" role="menu" data-eo-dropdown-menu>
                        <li role="none" data-ng-repeat="option in searchCtrl.options | orderBy:'-selected'"
                          data-label="{{ option.label }}" data-ng-click="searchCtrl.select(option)"
                          data-ng-class="{active: option.selected}">
                          <a href="javascript:" tabindex="-1" role="menuitem" ng-bind="option.label"></a>
                          <div class="d-none"
                            ng-init="trackingLabel = (option.label === 'Jobs' && 'job_search_from_dropdown') || (option.label === 'Freelancers' && 'fl_search_from_dropdown') || ''">
                          </div>
                          <up-track tracking-event="click" tracking-location-default="widget_global_nav"
                            tracking-sublocation="topnavbar_searchicon" tracking-label="{{ trackingLabel }}"
                            tracking-gtm="0"></up-track>
                        </li>
                      </ul>
                    </div>
                    <input type="hidden" name="nbs" value="1" />
                    <up-track tracking-event="enter" tracking-location-default="widget_global_nav"
                      tracking-sublocation="topnavbar_searchicon" tracking-label="perform_search"
                      tracking-data="{{ { context: searchCtrl.selected.label, query: searchCtrl.query } | json }}"
                      tracking-gtm="0">
                      <input class="form-control" type="search" name="q" tabindex="0" placeholder="Find Freelancers"
                        data-ng-attr-placeholder="{{searchCtrl.selected.placeholder}}" data-ng-model="searchCtrl.query"
                        data-o-freelancer-search-input />
                    </up-track>
                  </div>
                </form>
              </div>
            </div>

            <div class="navbar-collapse d-none d-lg-flex" id="skinny-nav">


              <ul class="navbar-nav navbar-sm" role="menubar">
                <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                  data-eo-dropdown-toggle-hover>
                  <a class="dropdown-toggle" href="/ab/jobs-home/9154252/" target="_self" role="menuitem"
                    aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Jobs<span
                      class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="none">
                      <a href="/ab/jobs-home/9154252/" target="_self" role="menuitem">My Jobs</a>
                    </li>
                    <li role="none">
                      <a href="/ab/jobs-home/9154252/all-postings" target="_self" role="menuitem">All Job Postings</a>
                    </li>
                    <li role="none">
                      <a href="/ab/c/9154252/contracts/" target="_self" role="menuitem">All Contracts</a>
                    </li>
                    <li role="none">
                      <a href="/c/9154252/jobs/new/" target="_self" role="menuitem">Post a Job</a>
                    </li>
                  </ul>
                </li>
                <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                  data-eo-dropdown-toggle-hover>
                  <a class="dropdown-toggle" href="/ab/profiles/search/hires" target="_self" role="menuitem"
                    aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Freelancers<span
                      class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="none">
                      <a href="/ab/profiles/search/hires" target="_self" role="menuitem">My Freelancers</a>
                    </li>
                    <li role="none">
                      <a href="/ab/profiles/search/" target="_self" role="menuitem">Find Freelancers</a>
                    </li>
                    <li role="none">
                      <a href="/ab/workdiary/client/" target="_self" role="menuitem">Work Diary</a>
                    </li>
                    <li role="none">
                      <a href="/ab/byo/" target="_self" role="menuitem">Bring Your Own Freelancer</a>
                    </li>
                  </ul>
                </li>
                <li class="  dropdown dropdown-secondary align-start" role="none" data-eo-dropdown
                  data-eo-dropdown-toggle-hover>
                  <a class="dropdown-toggle" href="/ab/reports/company/dashboard/" target="_self" role="menuitem"
                    aria-haspopup="true" aria-expanded="false" data-eo-dropdown-toggle>Reports<span
                      class="glyphicon air-icon-arrow-expand caret d-lg-none" aria-hidden="true"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="none">
                      <a href="/ab/reports/company/dashboard/" target="_self" role="menuitem">Weekly Summary</a>
                    </li>
                    <li role="none">
                      <a href="/reports/company/budgets" target="_self" role="menuitem">Budgets</a>
                    </li>
                    <li role="none">
                      <a href="/billing-history" target="_self" role="menuitem">Transactions</a>
                    </li>
                    <li role="none">
                      <a href="/ab/reports/company/timesheet/" target="_self" role="menuitem">Timesheet</a>
                    </li>
                    <li role="none">
                      <a href="/ab/reports/company/time-by-freelancer/" target="_self" role="menuitem">Time by
                        Freelancer</a>
                    </li>
                    <li role="none">
                      <a href="/ab/reports/company/time-by-activity/" target="_self" role="menuitem">Time by
                        Activity</a>
                    </li>
                    <li role="none">
                      <a href="/ab/workdiary/reports/" target="_self" role="menuitem">Work Diary</a>
                    </li>
                    <li role="none">
                      <a href="/ab/reports/company/export/" target="_self" role="menuitem">Custom Export</a>
                    </li>
                  </ul>
                </li>
                <li class=" messages " role="none">
                  <a href="/messages/" target="_self" role="menuitem">Messages <span data-o-badges="dash"
                      data-o-badges-port="1047087121009057792"></span>
                    <span data-o-badges="dash" data-o-badges-layout="ellipsis" data-o-badges-port="1047087121009057792"
                      data-o-badges-key="unimportant" data-o-badges-exclusive="true"></span>
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav navbar-sm navbar-right" role="menubar">
                <li class="dropdown navbar-search d-none d-lg-flex" data-eo-click-out="toggleSearch(false)"
                  data-eo-click-out-disable="!isSearchExpanded">
                  <a class="dropdown-toggle" href="javascript:" role="menuitem" tabindex="{{searchToggleTabindex}}"
                    aria-haspopup="true" aria-expanded="{{isSearchExpanded}}" data-ng-click="toggleSearch(true)">
                    <span class="glyphicon glyphicon-md air-icon-search m-0"></span>
                  </a>








                  <form method="GET" action="/ab/profiles/search/" data-ng-attr-action="{{searchCtrl.selected.url}}"
                    role="search" data-o-freelancer-search data-is-expanded="isSearchExpanded" data-keep-expanded="true"
                    data-check-intersection="true">
                    <div data-o-freelancer-search-option data-label="Jobs" data-url="/o/jobs/browse/"
                      data-placeholder="Find Jobs"></div>
                    <div data-o-freelancer-search-option data-label="Freelancers" data-url="/ab/profiles/search/"
                      data-placeholder="Find Freelancers" data-selected="true"></div>
                    <div class="input-group input-group-search-dropdown input-group-navbar">
                      <div class="input-group-btn" data-eo-dropdown data-eo-keyboard-nav>
                        <button class="btn p-0-left-right" type="submit" tabindex="0">
                          <span class="glyphicon air-icon-search m-sm-left m-0-right" aria-hidden="true"></span>
                          <span class="sr-only">Submit search</span>
                        </button>
                        <button class="btn p-xs-left-right" type="button" tabindex="0" data-eo-dropdown-toggle>
                          <span class="caret glyphicon air-icon-arrow-expand" aria-hidden="true"></span>
                          <span class="sr-only">Switch search source</span>
                        </button>
                        <ul id="search-dropdown" class="dropdown-menu" role="menu" data-eo-dropdown-menu>
                          <li role="none" data-ng-repeat="option in searchCtrl.options | orderBy:'-selected'"
                            data-label="{{ option.label }}" data-ng-click="searchCtrl.select(option)"
                            data-ng-class="{active: option.selected}">
                            <a href="javascript:" tabindex="-1" role="menuitem" ng-bind="option.label"></a>
                          </li>
                        </ul>
                      </div>
                      <input type="hidden" name="nbs" value="1" />
                      <input class="form-control" type="search" name="q" tabindex="0" placeholder="Find Freelancers"
                        data-ng-attr-placeholder="{{searchCtrl.selected.placeholder}}" data-ng-model="searchCtrl.query"
                        data-o-freelancer-search-input />
                    </div>
                  </form>
                </li>
                <li class="dropdown dropdown-secondary align-end" role="none" data-eo-dropdown
                  data-on-toggle="toggleHelp(open)">
                  <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true"
                    aria-expanded="false" data-eo-dropdown-toggle>
                    <span class="d-lg-none">Help</span>
                    <span class="glyphicon glyphicon-md air-icon-question dropdown-icon"></span>
                    <span class="badge badge-circle" data-ng-cloak data-ng-if="helpMenuUnread !== 0"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md" role="menu">
                    <li role="none">
                      <a href="https://odesk1265186793.zendesk.com/login" target="_blank" role="menuitem">
                        Help and Support
                      </a>
                    </li>
                    <li role="none">
                      <a href="http://community.upwork.com" target="_blank" role="menuitem">
                        Community and Forums
                      </a>
                    </li>
                    <li role="none">
                      <a href="/ab/disputes" target="_self" role="menuitem">
                        <span class="pull-left">Disputes</span>
                        <span class="pull-right" data-o-badges="disputes"></span>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown dropdown-secondary align-end" role="none"
                  data-ng-controller="eoNotificationController as ctrl" data-eo-dropdown
                  data-on-toggle="ctrl.toggleNotifications(open)">
                  <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true"
                    aria-expanded="false" data-eo-dropdown-toggle>
                    <span class="d-lg-none">Notifications</span>
                    <span class="glyphicon glyphicon-md air-icon-notification dropdown-icon" aria-hidden="true"></span>
                    <span data-o-badges="notifications" data-o-badges-layout="circle"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md  mh-300 overflow-y-auto" role="menu">
                    <li role="none" data-ng-repeat="notification in ctrl.notifications | limitTo: ctrl.limit">
                      <a class="dismissable" target="_self" role="menuitem" data-ng-href="{{notification.href}}">
                        <button class="close" type="button"
                          data-ng-click="$event.stopPropagation(); ctrl.removeNotification($event, notification.notificationId)">
                          <span class="glyphicon air-icon-close" aria-hidden="true"></span>
                          <span class="sr-only">Remove</span>
                        </button>
                        {{notification.notificationText}}
                      </a>
                    </li>
                    <li role="none" data-ng-if="ctrl.isLoading()">
                      <a href="javascript:">
                        <span class="glyphicon glyphicon-md air-icon-loading m-0-left"></span><span>Loading...</span>
                      </a>
                    </li>
                    <li role="none">
                      <a target="_self" role="menuitem" data-ng-href="{{ctrl.getLinkSeeAllNotification()}}">
                        <mark><strong>See All Notifications</strong></mark>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="invite-coworker" role="none">
                  <a href="/ab/jobs-home/invite-to-team?hmh_source=globalnav" target="_self" role="menuitem">
                    <span class="d-lg-none">Invite a Coworker</span>
                    <span class="glyphicon glyphicon-md air-icon-invite-coworker dropdown-icon"
                      aria-hidden="true"></span>
                  </a>
                </li>

                <li class="dropdown dropdown-secondary dropdown-account align-end dropdown-account-condensed"
                  role="none" data-eo-dropdown>
                  <a class="dropdown-toggle" href="javascript:" role="menuitem" aria-haspopup="true"
                    aria-expanded="false" title="Hoppe-Huels Group" data-eo-dropdown-toggle>
                    <div class="media media-dropdown">
                      <div class="pull-left"><img class="avatar avatar-xs m-0"
                          src="https://odesk-staging1-portraits.s3.amazonaws.com/Companies:9154252:CompanyLogoURL?AWSAccessKeyId=AKIAJV45H5HBL3TYHBFQ&amp;Expires=2147483647&amp;Signature=EMGl1oI8zAwdgJIrQr%2B0foTq3Gg%3D"
                          alt="avatar"></div>
                      <div class="media-body"><span class="account-name ellipsis" data-ng-non-bindable>Hoppe-Huels
                          Group</span><span class="account-status ellipsis" data-ng-show="outOfOffice > 0"
                          data-ng-cloak>Away until {{ outOfOffice | date: 'MMM d' }}</span><span
                          class="badge badge-circle" data-ng-show="unreadIndicator" data-ng-cloak></span><span
                          class="caret glyphicon air-icon-arrow-expand media-body-right" aria-hidden="true"></span>
                      </div>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md" role="menu">
                    <li role="none">
                      <div class="form-group">
                        <div class="btn-group btn-group-justified btn-group-sm"
                          data-ng-click="$event.stopPropagation()">
                          <label class="btn btn-default" data-ng-model="dash.visibility"
                            data-ng-click="setVisibility('VISIBLE')" data-eo-btn-radio="'VISIBLE'">Online</label>
                          <label class="btn btn-default" title="Appear offline to other users"
                            data-ng-model="dash.visibility" data-ng-click="setVisibility('INVISIBLE')"
                            data-eo-btn-radio="'INVISIBLE'">Invisible</label>
                        </div>
                      </div>
                    </li>
                    <li role="none">
                      <ul class="list-unstyled dropdown-list" role="menu">
                        <li class="active" title="Hoppe-Huels Group" role="none" data-company-uid="1047087121009057792">
                          <a href="javascript:">
                            <div class="media media-dropdown">
                              <img lazy-img class="avatar avatar-xs pull-left"
                                lazy-src="https://odesk-staging1-portraits.s3.amazonaws.com/Companies:9154252:CompanyLogoURL?AWSAccessKeyId=AKIAJV45H5HBL3TYHBFQ&amp;Expires=2147483647&amp;Signature=EMGl1oI8zAwdgJIrQr%2B0foTq3Gg%3D">
                              <div class="media-body ellipsis">
                                <span data-ng-non-bindable>Hoppe-Huels Group</span>
                                <small class="text-muted">Client</small>
                                <span class="media-body-right" data-o-badges="dash"
                                  data-o-badges-port="1047087121009057792"></span>
                                <span class="media-body-right" data-o-badges="dash"
                                  data-o-badges-port="1047087121009057792" data-o-badges-key="unimportant"
                                  data-o-badges-layout="ellipsis" data-o-badges-exclusive="true"></span>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li role="none">
                      <a href="/ab/my-info/" target="_self" role="menuitem" class="text-capitalize">
                        <span class="glyphicon air-icon-settings m-0-left m-md-right"></span> Settings</a>
                    </li>

                    <li role="none">
                      <a href="javascript:" role="menuitem" data-ng-click="logout()" class="text-capitalize">
                        <form id="nav-logout" method="post" action="/ab/account-security/logout"></form>
                        <span class="text-muted pull-right text-lowercase">cl18100211331217</span>
                        <span class="glyphicon air-icon-remove m-0-left m-md-right"></span> Log Out
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>



        <div class="container container-rjp">

          <div class="row step" data-ng-controller="stepsController">

            <div class="col-lg-3 d-none d-lg-block p-lg-right">
              <div class="eo-tabset breadcrumbs">
                <ul class="nav nav-pills nav-stacked" ng-cloak>
                  <li ng-class="{ 'active': isActive(stepIndex), 'disabled': !step.done && !isActive(stepIndex) }"
                    data-ng-repeat="(stepIndex, step) in steps">
                    <strong data-ng-if="step.done && !isActive(stepIndex)" class="d-block">
                      <span aria-hidden="true" class="glyphicon m-md-right m-0-left"
                        data-ng-class="'air-icon-' + step.icon"></span>{{ step.name }}
                    </strong>
                    <a data-ng-if="!step.done || isActive(stepIndex)" href="javascript:" class="d-block">
                      <span aria-hidden="true" class="glyphicon m-0-left"
                        data-ng-class="'air-icon-' + step.icon"></span>{{ step.name }}
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"
                      data-ng-class="{ 'completed': step.completed() }"></span>
                  </li>
                </ul>

                <ul class="nav nav-pills nav-stacked" ng-show="false">
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-draw-tool m-0-left"></span>Category
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-draw-tool m-0-left"></span>Service
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-cover-letter m-0-left"></span>Description
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-specifications m-0-left"></span>Details
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-design-creative m-0-left"></span>Expertise
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-recruit m-0-left"></span>Visibility
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-payment m-0-left"></span>Budget
                    </a>
                    <span aria-hidden="true" class="completed-icon glyphicon air-icon-verified"></span>
                  </li>
                  <li class="disabled">
                    <a href="javascript:">
                      <span aria-hidden="true" class="glyphicon air-icon-complete m-0-left"></span>Review
                    </a>
                  </li>


                </ul>
              </div>
            </div>

            <div class="col-lg-9">
              <ui-view></ui-view>
            </div>
          </div>

        </div>

      </div>

      <footer class="footer-navbar-wrapper footer-default" role="contentinfo" data-ng-controller="footerController">

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row links-section">
                <div class="col-md-3">
                  <ul class="list-unstyled m-lg-bottom">
                    <li><a href="/info/about/" target="_self">About Us</a></li>
                    <li><a href="/blog/" target="_self">Blog</a></li>
                    <li data-ng-click="feedback()"><a href="javascript:">Feedback</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="list-unstyled m-lg-bottom">
                    <li><a href="http://community.upwork.com" target="_self">Community</a></li>
                    <li><a href="/info/trust_and_safety/" target="_self">Trust &amp; Safety</a></li>
                    <li><a href="https://support.upwork.com/login" target="_self">Help &amp; Support</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="list-unstyled m-lg-bottom">
                    <li><a href="/legal/terms/" target="_self">Terms of Service</a></li>
                    <li><a href="/legal/privacy/" target="_self">Privacy Policy</a></li>
                    <li><a href="/downloads?source=Footer" target="_self">Desktop App</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="list-unstyled m-lg-bottom">
                    <li><a href="/info/terms/cookie-policy" target="_self">Cookie Policy</a></li>
                    <li><a href="/info/advisory/" target="_self">Enterprise Solutions</a></li>
                    <li><a href="/hiring" target="_self">Hiring Headquarters</a></li>
                    <li><a href="/mobile/" target="_self">Mobile</a></li>
                  </ul>
                </div>
              </div>
              <div class="row service-code-section">
                <div class="col-md-3">
                  <div class="display-inline-block" data-eo-service-code></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="social-icons-wrapper text-center">
                <a href="https://plus.google.com/107040851368295259701" target="_self"><span
                    class="glyphicon glyphicon-md air-icon-social-google-plus"></span></a>
                <a href="https://twitter.com/Upwork" target="_self"><span
                    class="glyphicon glyphicon-md air-icon-social-twitter"></span></a>
                <a href="https://www.facebook.com/upwork" target="_self"><span
                    class="glyphicon glyphicon-md air-icon-social-facebook"></span></a>
                <a href="https://www.linkedin.com/company/upwork" target="_self"><span
                    class="glyphicon glyphicon-md air-icon-social-linkedin"></span></a>
              </div>
              <p class="text-center copyright">
                &copy; 2015 - 2019 Upwork&reg; Global Inc. </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="https://assets.static-upwork.com/components/12.2.0/core.12.2.0.air2.min.js"></script>
  <script src="https://assets.static-upwork.com/components/12.2.0/angular-select.12.2.0.min.js"></script>
  <script src="https://assets.static-upwork.com/components/12.2.0/uploading.12.2.0.min.js"></script>
  <script src="https://assets.static-upwork.com/global-components/1.7.0/ugc.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> -->
  <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="script.js"></script>
  <script src="ontology.js"></script>






</body>

</html>