<div step="ssr">
  
  <!-- Desktop -->
  <form class="d-none d-md-block" ng-if="!jobPost.help">
    <div class="air-card m-0-top p-0-top-bottom">
      
      <header class="justify p-md-bottom">
        <div class="primary">
          <h2 class="m-0-bottom">Service</h2>
          <span class="text-muted">Step 1 of 7</span>
        </div>
        <!-- <button type="button" class="close text-success m-sm-left p-md-top-bottom p-md-left-right d-lg-none d-block">
              <span class="glyphicon air-icon-close m-0" aria-hidden="true"></span> <span class="sr-only">Close</span>
            </button> -->
      </header>
      
      <div class="card-content">
        <section class="content-section p-lg-top">
          <div class="row">
            <div class="col-sm-10">
              <div class="form-group">

                <div class="d-md-none m-md-bottom">
                  <label class="d-md-none">Let's get specific!</label>
                  <div>
                    <small class="text-muted">{{ jobPost.category }}, what type of work best describes what you're
                      looking for?</small>
                  </div>
                </div>
                <div class="d-none d-md-block">
                  <label>Within {{ jobPost.category }}, what type of work best describes what you're looking
                    for?</label>
                </div>

                <ui-select class="width-lg m-md-bottom d-none d-md-block" ng-model="jobPost.service" theme="select2">
                  <ui-select-match placeholder="Select a service">
                    {{$select.selected.title}}
                  </ui-select-match>
                  <ui-select-choices repeat="service in services | propsFilter: {title: $select.search}"
                    position="down">
                    <div ng-bind-html="service.title | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>

                <div class="btn-group d-md-none" eo-dropdown>
                  <button class="btn btn-default dropdown-toggle" eo-dropdown-toggle>
                    {{ jobPost.service !== null ? jobPost.service.title : 'Select a service' }}
                    <span aria-hidden="true" class="caret glyphicon air-icon-arrow-expand"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" eo-dropdown-menu>
                    <li class="dropdown-header">
                      Popular services in {{ jobPost.category }}
                    </li>

                    <li ng-repeat="service in services" ng-show="service.isPopular"
                      ng-class="{ 'active': jobPost.service === service }">
                      <a href="javascript:" ng-click="jobPost.service = service"
                        title="service.title">{{ service.title }}</a>
                    </li>

                    <li class="inactive-placeholder">
                      <p class="m-0" ng-click="showMoreServices()"><a href="javascript:">View more</a></p>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="form-group m-md-bottom">
                <label>What's the headline you want freelancers to see?</label>
                <div class="text-muted m-sm-bottom">Make it descriptive to catch their eye</div>
                <input class="form-control" type="text" ng-model="jobPost.title" placeholder="Write your headline..."
                  name="textInput">
              </div>
              <div>
                <strong>Here are some good examples</strong>
                <ul class="m-xs-top">
                  <li class="m-xs-bottom">Developer needed for creating a responsive WordPress theme</li>
                  <li class="m-xs-bottom">CAD designer to create 3D model of residential building</li>
                  <li class="m-xs-bottom">Need a design for company logo</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="d-none d-md-block">
            <button ng-click="goBack()"
              class="btn m-0-top-bottom btn-default d-none d-md-inline-block width-xs">Back</button>
            <button ng-click="goBack()"
              class="btn m-0-top-bottom btn-link d-md-none d-inline-block width-xs">Back</button>
            <button disabled class="btn m-0-top-bottom btn-primary width-xs">Next</button>
          </div>
          <div class="btn-row d-md-none">
            <div class="adaptive-buttons d-flex flex-1">
              <button ng-click="goBack()"
                class="btn m-0-top-bottom btn-default d-none d-md-inline-block width-xs">Back</button>
              <button ng-click="goBack()"
                class="btn m-0-top-bottom btn-link d-md-none d-inline-block width-xs">Back</button>
              <button disabled class="btn m-0-top-bottom btn-primary width-xs">Next</button>
            </div>
          </div>
        </footer>

      </div>
    </div>
  </form>
  
  <!-- Mobile -->
  <form class="d-md-none" ng-if="!jobPost.help">
    <div class="air-card m-0-top p-0-top-bottom">
      
      <header class="justify p-md-bottom">
        <div class="primary">
          <h2 class="m-0-bottom">Service</h2>
          <span class="text-muted">Step 1 of 7</span>
        </div>
        <!-- <button type="button" class="close text-success m-sm-left p-md-top-bottom p-md-left-right d-lg-none d-block">
              <span class="glyphicon air-icon-close m-0" aria-hidden="true"></span> <span class="sr-only">Close</span>
            </button> -->
      </header>
      
      <div class="card-content">
        <section class="content-section p-0">
          <div class="form-group">

            <div class="px-20 pt-0 pb-10">
              <small class="text-muted">
                Search or select a service to help us show your job post to relevant freelancers
              </small>
            </div>

            <up-c-input-clear input-wrapper-class="input-group-search">
              <input 
                     readonly
                     ng-model="selectedService.title"
                     ng-click="showServiceSerachDialog()"
                     class="form-control pr-30 pl-20"
                     type="search"
                     placeholder="What type of work do you need?">
              <label class="input-group-addon pl-10">
                <span aria-hidden="true" class="glyphicon air-icon-search" ng-if="!selectedService.title"></span>
                <span class="sr-only">What type of work do you need?</span>
              </label>
            </up-c-input-clear>
            
            <div class="air-card p-0-top-bottom">
              <section ng-repeat="category in categories" ng-class="{'selected': category.isOpen }">
                <div class="row collapsible-card-header" ng-click="toggleCategory(category)">
                  <div class="col-xs-10">
                    <span aria-hidden="true" class="glyphicon glyphicon-sm" ng-class="'air-icon-' + category.icon"></span>
                    <small class="m-0 text-uppercase" ng-class="{bold: category.isOpen}">{{ category.title }}</small>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-link m-0 p-0 pull-right">
                      <span 
                            aria-hidden="true" 
                            class="glyphicon caret" 
                            ng-class="{ 'air-icon-arrow-expand': !category.isOpen, 'air-icon-arrow-collapse': category.isOpen }">
                      </span>
                    </button>
                  </div>
                </div>
                <div eo-collapse="!category.isOpen">
                  <ul class="list-unstyled pl-60 pt-20">
                    <li class="ellipsis" ng-repeat="service in category.services" ng-click="onServiceSelected(service, category)">
                      <span ng-class="{bold: service.title === selectedService.title}">{{ service.title }}</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>

          </div>
        </section>

        <footer>
          <div class="btn-row d-md-none">
            <div class="adaptive-buttons d-flex flex-1">
              <button ng-click="cancel()"
                class="btn m-0-top-bottom btn-link d-md-none d-inline-block width-xs">Cancel</button>
              <button 
                      ng-disabled="!isNextAvailable()" 
                      ng-click="goNext()" 
                      class="btn m-0-top-bottom btn-primary width-xs">
                Next
              </button>
            </div>
          </div>
        </footer>

      </div>
    </div>
  </form>
  
</div>
