<div step="ssr">
  
  <!-- Desktop -->
  <form class="d-none d-md-block" ng-if="!jobPost.help">
    <div class="air-card m-0-top p-0-top-bottom">
      
      <header class="justify p-md-bottom">
        <div class="primary">
          <h2 class="m-0-bottom">Service</h2>
          <span class="text-muted">Step 1 of 7</span>
        </div>
        <!-- <button type="button" class="close text-success m-sm-left p-md-top-bottom p-md-left-right d-lg-none d-block">
              <span class="glyphicon air-icon-close m-0" aria-hidden="true"></span> <span class="sr-only">Close</span>
            </button> -->
      </header>
      
      <div class="card-content">
        <section class="content-section p-lg-top">
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <p>
                  <strong>
                    Search or select a specialty to get free quotes from qualified freelancers
                  </strong>
                </p>
                
                <div class="input-group input-group-search dropdown" eo-dropdown>
                  <up-c-input-clear input-wrapper-class="input-group-search">
                    <input 
                           ng-model="selectedService.title"
                           eo-dropdown-toggle
                           class="form-control pr-30 pl-30 dropdown-toggle"
                           type="search" 
                           placeholder="Search freelancers"
                           ng-focus="resetSelection()">                  
                    <label class="input-group-addon">
                      <span aria-hidden="true" class="glyphicon air-icon-search"></span>
                      <span class="sr-only">Search freelancers</span>
                    </label>
                  </up-c-input-clear>
                  <ul class="dropdown-menu" role="menu" eo-dropdown-menu>
                    <div class="pt-20 px-20 pb-0">
                      <div ng-repeat="category in categories | filter:{services:{title:(selectedService.title || '' )}} | orderBy: 'title'">
                        <strong class="text-uppercase text-muted">{{ category.title }}</strong>
                        <ul class="list-unstyled service-list pl-20 mt-10 mb-20">
                          <li 
                              class="ellipsis"
                              ng-repeat="service in category.services | filter:(selectedService.title || '') | orderBy: 'title'"
                              ng-click="onServiceSelected(service, category)">
                            <span ng-bind-html="highlight(service.title, selectedService.title)" />
                          </li>
                        </ul>
                      </div>
                      <div class="no-items pb-20">No services found...</div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group px-30">
                <div class="air-card p-0-top-bottom mt-0">
                  <section ng-repeat="category in categories | orderBy: 'title'" ng-class="{'selected': category.isOpen }">
                    <div class="row collapsible-card-header" ng-class="{selected: hasSelectedService(category)}" ng-click="toggleCategory(category)">
                      <div class="col-xs-10">
                        <span aria-hidden="true" class="glyphicon glyphicon-sm" ng-class="'air-icon-' + category.icon"></span>
                        <span class="m-0 text-uppercase" ng-class="{bold: category.isOpen}">
                          {{ category.title }}
                        </span>
                      </div>
                      <div class="col-xs-2">
                        <button class="btn btn-link m-0 p-0 pull-right">
                          <span 
                                aria-hidden="true" 
                                class="glyphicon caret" 
                                ng-class="{ 'air-icon-arrow-expand': !category.isOpen, 'air-icon-arrow-collapse': category.isOpen }">
                          </span>
                        </button>
                      </div>
                    </div>
                    <div eo-collapse="!category.isOpen">
                      <ul class="list-unstyled pl-60 pt-20 service-list">
                        <li class="ellipsis" ng-repeat="service in category.services | orderBy: 'title'" ng-click="onServiceSelected(service, category)">
                          <span ng-class="{bold: service.title === jobPost.selectedService.title}">{{ service.title }}</span>
                        </li>
                      </ul>
                    </div>
                  </section>
                  
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
    
    <div class="air-card m-0-top p-0-top-bottom">
      <div class="card-content">
        <section class="content-section p-lg-top">
          <label class="control-label">Can't find what you're looking for? We'll help you get started!</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="checkbox">
              <span class="checkbox-replacement-helper">
                <span aria-hidden="true" class="glyphicon air-icon-check"></span>
              </span>Help me choose
            </label>
          </div>
        </section>
        <footer>
          <div class="d-none d-md-block">
            <button disabled class="btn m-0-top-bottom btn-default d-none d-md-inline-block width-xs">Back</button>
            <button 
                    ng-disabled="!isNextAvailable()" 
                    ng-click="goNext()"  
                    class="btn m-0-top-bottom btn-primary width-xs">
              Next
            </button>
          </div>
        </footer>
      </div>
    </div>
    
  </form>
  
  <!-- Mobile -->
  <form class="d-md-none" ng-if="!jobPost.help">
    <div class="air-card m-0-top p-0-top-bottom">
      
      <header class="justify p-md-bottom">
        <div class="primary">
          <h2 class="m-0-bottom">Service</h2>
          <span class="text-muted">Step 1 of 7</span>
        </div>
        <!-- <button type="button" class="close text-success m-sm-left p-md-top-bottom p-md-left-right d-lg-none d-block">
              <span class="glyphicon air-icon-close m-0" aria-hidden="true"></span> <span class="sr-only">Close</span>
            </button> -->
      </header>
      
      <div class="card-content">
        <section class="content-section p-0">
          <div class="form-group">

            <div class="px-20 pt-0 pb-10">
              <small class="text-muted">
                Search or select a service to help us show your job post to relevant freelancers
              </small>
            </div>

            <up-c-input-clear input-wrapper-class="input-group-search">
              <input 
                     readonly
                     ng-model="jobPost.selectedService.title"
                     ng-click="showServiceSerachDialog()"
                     class="form-control pr-30 pl-20"
                     type="search"
                     placeholder="What type of work do you need?">
              <label class="input-group-addon pl-10">
                <span aria-hidden="true" class="glyphicon air-icon-search" ng-if="!jobPost.selectedService.title"></span>
                <span class="sr-only">What type of work do you need?</span>
              </label>
            </up-c-input-clear>
            
            <div class="air-card p-0-top-bottom">
              <section ng-repeat="category in categories | orderBy: 'title'" ng-class="{'selected': category.isOpen}">
                <div class="row collapsible-card-header" ng-class="{selected: hasSelectedService(category)}" ng-click="toggleCategory(category)">
                  <div class="col-xs-10">
                    <span aria-hidden="true" class="glyphicon glyphicon-sm" ng-class="'air-icon-' + category.icon"></span>
                    <small class="m-0 text-uppercase" ng-class="{bold: category.isOpen}">
                      {{ category.title }}
                    </small>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-link m-0 p-0 pull-right">
                      <span 
                            aria-hidden="true" 
                            class="glyphicon caret" 
                            ng-class="{ 'air-icon-arrow-expand': !category.isOpen, 'air-icon-arrow-collapse': category.isOpen }">
                      </span>
                    </button>
                  </div>
                </div>
                <div eo-collapse="!category.isOpen">
                  <ul class="list-unstyled pl-60 pt-20 service-list">
                    <li class="ellipsis" ng-repeat="service in category.services | orderBy: 'title'" ng-click="onServiceSelected(service, category)">
                      <span ng-class="{bold: service.title === jobPost.selectedService.title}">{{ service.title }}</span>
                    </li>
                  </ul>
                </div>
              </section>
            </div>

          </div>
        </section>

        <footer>
          <div class="btn-row d-md-none">
            <div class="adaptive-buttons d-flex flex-1">
              <button ng-click="cancel()"
                class="btn m-0-top-bottom btn-link d-md-none d-inline-block width-xs">Cancel</button>
              <button 
                      ng-disabled="!isNextAvailable()" 
                      ng-click="goNext()" 
                      class="btn m-0-top-bottom btn-primary width-xs">
                Next
              </button>
            </div>
          </div>
        </footer>

      </div>
    </div>
  </form>
  
</div>
